.body{
  background-color: black;
  color: white;
}

.g-12
{
  margin: 0 0 0 10rem;
  padding: 0 0 1rem 0;
}

.form-control, .form-select{
  border: 2px solid #ECECEC;
  background-color: black;
  color: #ECECEC;
  width: 100%;
}

.form-control::placeholder{
  color: #ECECEC;
}

.form-control:enabled{
  background-color: black;
  color: #ECECEC;
}
