<footer class="pt-5 bg-dark text-white">
    <div class="d-md-flex d-block center-text flex-wrap justify-content-around align-items-center w-100">
        <div class="col-6 col-md-2 mb-3">
            <h2 class="font-l"><img src="../../../assets/Logo.svg" alt="Logo do site"> CineBru</h2>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><p class="nav-link p-0 text-white">Simplifique sua busca por filmes. Compre ingressos com facilidade! O poder da escolha está em suas mãos.</p></li>
                <li class="nav-item mb-2 d-flex justify-content-around">
                    <img src="../../../assets/facebook.svg" alt="Link para Rede Social" class="icons">
                    <img src="../../../assets/x.svg" alt="Link para Rede Social" class="icons">
                    <img src="../../../assets/instagram.svg" alt="Link para Rede Social" class="icons">
                    <img src="../../../assets/youtube.svg" alt="Link para Rede Social" class="icons">
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h3 class="font-weight-bold">Sobre</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Quem Somos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Nossa equipe</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Clientes</a></li>
            </ul>
          </div>  
      <div class="col-6 col-md-2 mb-3">
        <h3 class="font-weight-bold">Empresas</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">História</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Valores</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Responsabilidade Social</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h3 class="font-weight-bold">Suporte</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contato</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Politica de privacidade</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-around py-5 align-items-center border-top">
      <p>© 2023 CineBru Company. All rights reserved.</p>
      <a routerLink="/termos" class="nav-link text-white">Termos & Acordos</a>
      <a routerLink="/politicas" class="nav-link text-white">Políticas de Privacidade</a>
    </div>
  </footer>