<header class="d-flex flex-wrap align-items-center justify-content-around py-2 border-bottom bg-danger">
    <div href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="../../../assets/Logo.svg" alt="Logo da pagina">
        <h1 class="fs-410 font-l text-white px-4">CineBru</h1>
    </div>
    <ul class="nav nav-pills align-items-flex-start py-2">
        <li class="nav-item"><a routerLink="/home" class="nav-link text-white">Home</a></li>
        <li class="nav-item"><a routerLink="/ingresso" class="nav-link text-white">Ingresso</a></li>
        <li class="nav-item"><a routerLink="/filmes" class="nav-link text-white">Filmes</a></li>
        <li class="nav-item "><a routerLink="cadastrar" class="nav-link active-white text-dark rounded-30 hover" aria-current="page">Cadastrar</a></li>
    </ul>
  </header>